<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <%- include ("../partials/src.ejs") %>
</head>

<body>
  
  <%- include ("../partials/nav.ejs") %>
  <%- include ("../partials/misc/msg-box.ejs") %>
  <%- include ("../partials/misc/spinner.ejs") %>
  <%- include ("../partials/panels/coords.ejs") %>
  <%- include ("../partials/panels/geo.ejs") %>
  <%- include ("../partials/panels/cam-controls.ejs") %>
  <%- include ("../partials/misc/calc-box.ejs") %>
  <%- include ("../partials/misc/info-box.ejs") %>
  <%- include ("../partials/src.ejs") %>
  <div id="map"></div>

  <script type="module" src="../js/src/mapboxgl-control-minimap.js"></script>
  <script type="module" src="../js/app/script.js"></script>
</body>
</html>
